#### Decision tree 
* Decision Tree는 데이터를 분류하거나 결과값을 예측하는 분석 방법이다. 
* 결과 모델이 tree 구조이기 때문에 Decision tree라고 한다. 
* Decision tree는 데이터를 1차로 분류한 후에 각 영역의 순도(homogeneity)는 증가, 불순도(impurity)와  불확실성(uncertainty)은 감소하는 방향으로 학습을 진행한다. 
    - 순도 : 범주 안에서 같은 종류의 데이터만 모영있는 상태 
    - 불순도 : 범주 안에서 서로 다른 데이터가 섞여 있는 상태  
* 순도가 증가, 불확실성이 감소하는 것을 정보이론에서는 information gain이라고 하며 순도를 계산하는 방법에는 다음과 같은 것들이 있다. 
    - Entropy 
        - 확률변수의 불확실성을 수치로 나타낸 것 
        - Entropy가 높을 수록 불확실성이 높다는 의미이다. 
        - Entropy = 0 = 불확실성 최소 = 순도 최대
        - Entropy = 0.5 = 불확실성 최대 = 순도 최소

In [29]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from google.colab import drive
from sklearn import tree

In [33]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler

In [2]:
drive.mount("/content/drive/")

Mounted at /content/drive/

In [7]:
FILE_PATH = "/content/drive/MyDrive/dataset/pytorch/train.csv"

In [21]:
df = pd.read_csv(FILE_PATH, index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']] 
df["Sex"] = df["Sex"].map({"male":0, "female":1})
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             Pclass  Sex   Age  SibSp  Parch     Fare  Survived
PassengerId
1                 3    0  22.0      1      0   7.2500         0
2                 1    1  38.0      1      0  71.2833         1
3                 3    1  26.0      0      0   7.9250         1
4                 1    1  35.0      1      0  53.1000         1
5                 3    0  35.0      0      0   8.0500         0

In [23]:
df = df.dropna()
x = df.drop("Survived", axis=1)
y = df["Survived"]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)
model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [32]:
y_prediction = model.predict(x_test)
accuracy_score(y_test, y_prediction)

0.8212290502793296

In [34]:
pd.DataFrame(confusion_matrix(y_test, y_prediction), 
             columns = ["Predicted Not Survival", "Predicted Survival"],
             index = ["True Not Survival", "True Survival"])

                   Predicted Not Survival  Predicted Survival
True Not Survival                      98                  14
True Survival                          18                  49

#### Confusion Matrix 
1. Confusion Matrix
    - Confusion Matrix는 알고리즘 성능 평가에 이용된다. 
    - True Positive : Model(분류기)이"1"이라고 예측했는데 실제 값도 "1"인 경우 
    - True Negative : Model(분류기)이"0"이라고 예측했는데 실제 값도 "0"인 경우 
    - False Positive : Model(분류기)이 "1"이라고 예측했는데 실제 값은 "0"인 경우 
    - False Negative : Model(분류기)이 "0"이라고 예측했는데 실제 값은 "1"인 경우 

|| | |예측값|
|--|--|---|---|  
|| |Positive|Negative|
|실제값|Positive|TP|NP|
|실제값|Negative|FP|TN|